

.btnX {
  margin-left: 8px;
  border-radius: 4px;
  width: 30px;
  background-color: lightsalmon;
}

.btnDone{
  margin-left: 8px;
  border-radius: 4px;
  width: 30px;
  background-color: lightgreen;
}

.App {
  font-family: sans-serif;
  text-align: center;
  
}

.done {
  text-decoration-line: line-through;
}
.btnRegistro{
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  top: 5%;
}

.btnMostrarLista{
  margin-top: 20px;
  background-color: lightblue;
  border-radius: 4px;
}

.btnI{
  background-color: lightblue;
  margin-left: 5px;
  border-radius: 4px;
  height: 25px;
}

li{
  list-style: none;
}

.registro{
  background-color: lightblue;
  border-radius: 8px;
  padding: 15px;
  font-size: 12px;
  width: auto;
  height: 200px;
  /* centrado vertical */
  position: absolute;
  top: 25%;
  margin-left: 6px;
  margin-right: 6px;
}

