/* .infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
  } */
  
  .cabecera {
    flex: 0.5;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: black;
    background-color:rgb(112, 25, 112);
  }

  .btn {
    margin-left: 2%;
  }
  h3{
    margin-left: 15%;
    color: white;
    font: 1em sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }
 
  
